@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

:root {
  --font: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.container {
  padding: 3rem;
  width: 400px;
  background-color: #ffffff;
  box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.24);
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
label {
  margin-bottom: 0.7rem;
}

#text,
#email,
#password {
  width: 100%;
  border: 0.01rem solid #111111;
  margin-bottom: 1rem;
  padding: 0.5rem 0.3rem;
  font-size: 1rem;
}

.email-validation,
.password-validation {
  color: #ef4444;
  padding-bottom: 1rem;
  font-weight: 700;
  display: none;
}
.submit-btn {
  background-color: #111111;
  padding: 0.7rem 0;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
#text,
#email,
#password,
.container,
.submit-btn {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.block {
  display: block;
}

@media screen and (max-width: 499px) {
  .container {
    padding: 1rem;
    width: 300px;
  }
}
