@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .field {
    @apply w-full
    text-gray-600
              font-semibold
              border-2 border-blue-400
              rounded-md
              p-1
              block
              mx-auto
              focus:outline-none
              focus:ring-2
              focus:ring-blue-400
              focus:ring-opacity-75;
  }
}
